body {
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: top;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  padding: 15px 0;
}

.header__left {
  float: left;
}

.fa-bolt {
  font-size: 44px;
  margin-left: 25%;
  justify-content: flex-end;
}

.fa-bolt:hover {
  color: #74cfae;
}

.menu__icon {
  display: none;
}

.header__right {
  float: right;
  display: block;
}

.contact {
  font-size: 12px;
  padding: 14px 12px;
  line-height: 16px;
  display: block;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
}

.main {
  padding-top: 74px;
}

.top__wrapper {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.main__title {
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.br-sp {
  display:none;
}

.sub__title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.message__wrapper {
  background-color: #74cfae;
  padding-top: 50px;
}

.message__left {
  float: left;
  width: 40%;
  text-align: right;
}

.message__right {
  text-align: center;
  color: #fff;
  line-height: 25px;
  width: 50%;
  float: right;
}

.main__message {
  font-size: 24px;
}

.sub__message {
  margin-top: 35px;
  font-size: 20px;
}

.work__wrapper {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.work__title {
  font-size: 24px;
  color: #808080;
  margin-bottom: 40px;
  text-align: center;
}

.work__pic {
  display: inline-block;
  margin-bottom: 90px;
  z-index: 1;
}

.work__pic__link {
  float: left;
  opacity: 0.7;
  transition: 0.3s;
}

.work__pic__link:hover {
  opacity: 1;
}

.work__pic__link:nth-child(-n+3) {
  margin-bottom: 80px;
}

.work__pic__link:not(:nth-child(3n+1)) {
  margin-left: 100px;
}

.pic__color {
  opacity: 0.7;
  transition: 0.3s;
}

.work__txt {
  float: left;
  width: 60%;
  text-align: center;
  margin: 0 0 0 80px;
}

.work__main__txt {
  width: 525px;
  color: #808080;
}

.work__btn {
  float: right;
  margin: 0 240px 0 0;
}

.work__mail {
  display: block;
  font-size: 12px;
  padding: 14px 30px;
  line-height: 16px;
  color: #fff;
  background-color: #74cfae;
  transition: 0.3s;
}

.work__mail:hover {
  display: block;
  font-size: 12px;
  padding: 14px 30px;
  line-height: 16px;
  color: #333;
  background-color: #74cfae;
}

.skills__wrapper {
  background-color: #4e4e4e;
  padding: 70px 0;
  text-align: center;
}

.skills__title {
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.skills {
  display: inline-block;
}

.skill {
  float: left;
}

.skill:not(:last-child) {
  margin-right: 180px;
}

.skill__name {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

.icon__wrapper {
  background-color: #f2f2f2;
  padding: 200px 0;
  text-align: center;
}

.icons {
  display: inline-block;
}

.icon {
  float: left;
  font-size: 40px;
  color: #74cfae;
  width: 185px;
  padding: 30px 0;
  text-align: center;
  transition: 0.3s;
}

.icon:hover {
  float: left;
  font-size: 40px;
  color: #74cfae;
  width: 185px;
  text-align: center;
  background-color: #fff;
}


.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer__txt {
  color: #fff;
  text-align: right;
}


@media screen and (min-width: 767px) and (max-width: 1199px){
  .header {
    width: 100%;
  }

  .container {
    margin: 0 auto;
    width: 97%;
    float: none;
  }

  .header__right {
    display: block;
  }

  .message__wrapper {
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .message__left {
    float: none;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }

  .message__right {
    width: 75%;
    padding-top: 20px;
    display: inline-block;
    float: none;
    word-break: break-all;
  }

  .sub__message {
    margin-top: 35px;
  }

  .work__wrapper {
    text-align: center;
  }

  .work__pic {
    margin-bottom: 80px;
  }

  .work__pic__link {
    float: none;
    display: block;
  }

  .work__pic__link:not(:nth-child(3n+1)) {
    margin-left: 0;
}

  .work__pic__link:nth-child(-n+3) {
    margin-bottom: 0;
  }

  .work__pic__link:nth-child(3) {
    margin-bottom: 80px;
  }

  .work__contact {
    text-align: center;
  }

  .work__txt {
    display: inline-block;
    float: none;
    margin-left: 0;
  }

  .work__main__txt {
    width: 100%;
    margin-bottom: 40px;
  }

  .work__btn {
    width: 115px;
    margin: 0 auto;
    float: none;
  }

  .work__mail {
    display: inline-block;
  }

  .skill {
    float: none;
    margin-bottom: 88px;
  }

  .skill:last-child {
    margin-bottom: 0;
  }

  .skill:not(:last-child) {
    margin-right: 0;
  }

}

@media screen and (max-width: 766px){
  .header {
    width: 100%;
  }


  .menu__icon {
    color: #f2f2f2;
    float: right;
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
  }

  .header__right {
    display: none;
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
  }

  .container {
    margin: 0 auto;
    width: 97%;
    float: none;
  }

  .top__wrapper {
    padding: 160px 0 130px 0;
  }

  .main__title {
    font-size: 80px;
  }

  .br-sp {
  display:block;
}

  .message__wrapper {
    text-align: center;
    padding-bottom: 20px;
  }

  .message__left {
    float: none;
    display: inline;
  }

  .message__right {
    width: 100%;
    margin-top: 20px;
  }


  .work__wrapper {
    text-align: center;
  }

  .work__pic {
    margin-bottom: 0;
  }

  .work__pic__link {
    float: none;
    display: block;
  }

  .work__pic__link:not(:nth-child(3n+1)) {
    margin-left: 0;
}

  .work__pic__link:nth-child(-n+3) {
    margin-bottom: 0;
  }

  .work__pic__link:nth-child(3n) {
    margin-bottom: 80px;
  }

  .work__contact {
    text-align: center;
  }

  .work__txt {
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .work__main__txt {
    width: 100%;
  }

  .work__btn {
    width: 115px;
    margin: 0 auto;
    float: none;
  }

  .skill {
    float: none;
    margin-bottom: 88px;
  }

  .skill:last-child {
    margin-bottom: 0;
  }

  .skill:not(:last-child) {
    margin-right: 0;
  }

  .icon__wrapper {
    padding: 50px 15px;
  }

  .icons {
    display: block;
  }

  .icon {
    width: 100%;
  }

  .icon:hover {
    font-size: 40px;
    color: #74cfae;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }

}
